header .header-wrapper {
  box-shadow: 0 8px 4px -4px rgb(0 0 0 / 10%);
  height: 80px;
}

header .header.block {
  display: flex;
  justify-content: center;
}

header .header .container {
  display: flex;
  justify-content: space-between;
  padding:  0 2rem;
  align-items: center;
  background-color: #fff;
  width: 80vw;
  max-width: 1100px;
  max-height: max-content;
}

header .header #site-primary-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

header .header ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

header .header li {
  list-style-type: none;
  display: flex;
}

header .header nav a:any-link {
  color: currentcolor;
}

header .header span {
  font-size: small;
  font-family: proxima-nova,sans-serif;
  letter-spacing: 1px;
}

header .header img {
  width: 230px;
  height: auto;
}

header .header .button-red {
  background-color: #DE514E;
  margin: 0 0 0 20px;
  padding: 9px 10px 8px;
  border-radius: 7px;
  font-size: 12px;
  font-weight: 500;
}
