header .header.block {
  display: flex;
  justify-content: center;
  box-shadow: 0 8px 4px -4px rgb(0 0 0 / 10%);
  height: fit-content;
  width: 100%;
  position: fixed;
  background-color: white;
}

header .header .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding:  0 2rem;
  align-items: center;
  margin: 0 5% 0 5%;
  max-width: 1100px;
  height: max-content;
}

header .header .nav-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

header .header li {
  list-style-type: none;
  display: flex;
}

header .header nav a:any-link {
  color: currentcolor;
  text-decoration: underline transparent;
  text-underline-offset: 0.1em;
  transition: all .4s ease;
}

header .header nav a:hover {
  text-decoration-color: #7cceda;
  text-underline-offset: 0.35em;
  transition: all .8s ease-in;
}

header .header span {
  font-size: 12px;
  font-family: proxima-nova,sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

header .header img {
  width: 230px;
  height: auto;
}

header .button-red {
  background-color: #f05f5d;
  margin: 0 0 0 20px;
  padding: 9px 10px 8px;
  border-radius: 7px;
  font-size: 12px;
  font-weight: 500;
  border: 2px solid transparent;
}

header .header-logo {
  padding-top: 16px;
}

@media only screen and (max-width: 1140px) {
  header .header .container {
    padding: 0;
  }
  header .header #site-primary-navigation {
    padding: 0;
  }
}

header .nav-hamburger {
  display: none;
}

header .bar {
  display: block;
  background-color: #404041;
  height: 2px;
  width: 20px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

header > .header > .container .header-vertical-list {
  display: none;
}

@media only screen and (max-width: 768px) {
  header .nav-hamburger-icon {
    display: initial;
  }
  
  header .nav-list {
    left: -200%;
    position: fixed;
    flex-direction: column;
    background-color: white;
    width: 100%;
    /* box-shadow: 0 8px 4px -4px rgb(0 0 0 / 10%); */
  }

  header .header.mobile-active .nav-list{
    left: 0;
    position: fixed;
  }

  header .header .container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
  }

  header .header-logo {
    padding-top: 0;
  }

  header .nav-hamburger {
    display: block;
  }
}

