ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.tabs-container {
    background-color: #fafafa;
}

.section[data-tab] {
    display: none;
}

.section[data-tab].active {
    display: initial;
}